<ion-header no-shadow no-border class="no-shadow">
  <ion-navbar>
  <ion-buttons *ngIf="state == 'update'" start>
    <button ion-button icon-left (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
      Cancel
    </button>
  </ion-buttons>
  <!-- <ion-title>Track's infos</ion-title> -->
  <ion-buttons end>
    <button ion-button (click)="placeFormSubmit()" [disabled]="!placeForm.valid" >
      Save
    </button>
  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content>
  <div id="content">
    <div class="content-block block-top" >
      <ion-grid>
        <ion-row align-items-center justify-content-around>
          <ion-col text-center align-self-center class="col-left">
            <div class="camera button-div" tapable (click)="setImage()">
              <ion-icon name="ios-camera-outline" ></ion-icon>
              <h5>Cover photo</h5>
            </div>
          </ion-col>
          <ion-col text-center align-self-center class="col-rigth">
            <div class="location button-div" tapable (click)="setGeolocation()">
              <ion-icon name="ios-map-outline"></ion-icon>
              <h5>Location</h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="content-block block-bottom" block-flex>
      <form [formGroup]="placeForm" (submit)="placeFormSubmit()" >

        <ion-list no-margin>
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input type="text" placeholder="Name" formControlName="name" name="name" ></ion-input>
            </ion-item>
            <!-- CITY -->
            <ion-item >
              <ion-label>City</ion-label>
              <ion-input type="text" formControlName="city" name="city"></ion-input>
            </ion-item>
            <!-- COUNTRIE -->
            <ion-item>
              <ion-label>Countrie</ion-label>
              <ion-select
                formControlName="country"
                name="country"
                okText="Okay"
                cancelText="Dismiss"
                >
                <ion-option *ngFor="let country of countries" [value]="code">{{country.name}}</ion-option>
              </ion-select>
            </ion-item>
            <!-- DISCIPLINE -->
            <ion-item>
              <ion-label>Sports</ion-label>
              <ion-select
                formControlName="disciplines"
                name="disciplines"
                multiple="true"
                okText="Okay"
                cancelText="Dismiss"
                >
                <ion-option *ngFor="let discipline of disciplines" [value]="name">{{discipline.name}}</ion-option>
              </ion-select>
            </ion-item>
        </ion-list>
      </form>

      <div
        *ngIf="place.image && pathForImage(place.image)"
        class="img-wrapper"
        block-grow
        [style.backgroundImage]="'url(' + pathForImage(place.image) + ')'">
      </div>
      <div
        *ngIf="!place.image || !pathForImage(place.image)"
        class="img-wrapper"
        block-grow
        [style.backgroundImage]="'url(assets/img/background/advance-card-map-madison.png)'">
      </div>


    </div>
  </div>

</ion-content>
