page-login {
  &.ion-page ion-content{
    background-color: $brand;
  }
  .scroll-content{
    padding-bottom: 0 !important;
  }
  .block-top{
    img{
      display: block;
      margin: auto;
    }
  }
  ion-slide{
    background-color: $brand;
    height: auto !important;
    &.slide-2, &.slide-3{
      align-items: flex-start !important;
      form{
        padding-bottom: 0 !important;
      }
      ion-item{
        padding-left: 4px !important;
        padding-right: 4px !important;
      }
    }
  }

  form{
    ion-item{
      background-color: transparent !important;
      .item-inner{
        border-color: $content_back !important;
      }
      ion-label{
        color: #fff;
      }
      input{
        color: $content_back;
      }
    }
  }
}
