<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897213692051-7kkb79uur5glo5ltin079ip8bfl56u3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897213692051-7kkb79uur5glo5ltin079ip8bfl56u3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDelCYByTgSHrLwjksEnJN975i_430HG8o</string>
	<key>GCM_SENDER_ID</key>
	<string>897213692051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartoweb.letsride</string>
	<key>PROJECT_ID</key>
	<string>lets-ride-a073c</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-ride-a073c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897213692051:ios:047fc919ea4a671c</string>
	<key>DATABASE_URL</key>
	<string>https://lets-ride-a073c.firebaseio.com</string>
</dict>
</plist>