<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buddies</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list>
    <ng-container *ngFor="let user of users | async">
      <ion-item  *ngIf="currentUser && user.aFuid != currentUser.uid ">
        <ion-avatar item-start>
          <img *ngIf="user.photoURL" src="{{user.photoURL}}">
        </ion-avatar>
        <h2>{{user.settings.displayName}}</h2>
        <h3 *ngIf="user.settings.country">{{user.settings.country}}</h3>
        <button
          *ngIf="!user.buddies || !user.buddies[currentUser.uid]"
          ion-button clear item-end icon-only
          (click)="sendFriendRequest(user.$key, user.oneSignalid, user.settings.displayName)" >
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ng-container>


  </ion-list>

  <ion-infinite-scroll (ionInfinite)="scrolled($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
