<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buddies</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <h1>Duis imperdiet elit in risus.</h1>
  <h1>Duis imperdiet elit in risus.</h1>
  <ion-list>

    <ion-item *ngFor="let user of users | async">
      <ion-avatar item-start>
        <img *ngIf="user.photoURL" src="{{user.photoURL}}">
      </ion-avatar>
      <h2>{{user.settings.displayName}}</h2>
      <h3 *ngIf="user.settings.country">{{user.settings.country}}</h3>
      <button ion-button clear item-end icon-only (click)="sendFrienRequest(user.$key)" >
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>


  </ion-list>

  <ion-infinite-scroll (ionInfinite)="scrolled($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
