.ion-page {
  //background: $page_back;
  & > ion-content {
    background: transparent;
  }
}

ion-modal.inset-modal {
  background-color: rgba(0,0,0,.5)!important;
  transition: opacity .25s ease-in-out;
  .content{
    background: transparent!important;
    .inset-modal-content{
      padding: 20vh 2vw;
      width: 100%;
    }
  }
}

.ion-page ion-content{
  background-color: $content_back;
}


// HELPERS
// --------------------------------------------------
[bottom-shadow="true"]{
  position: relative;
  &:after {
    content:" ";
    position:absolute;
    width:100%;
    height: 10px;
    bottom:0;
    z-index:-1;
    transform:scaleX(1.4);
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.4);
  }
}

[show-tabbar="false"]{
  .tabbar {
    display: none;
  }
}

[vertical-center]{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

[f-height]{ height: 100%; }
[f-width]{ width: 100%; }

@for $i from 1 through 20 {
  $height: $i*5;
    [v-height="#{$height}"]{
      height: #{$height}vh;
    }
}

[no-shadow]{
  box-shadow: none !important;
}

[no-radius]{
  border-radius: 0 !important;
}


// BLOCKS
// --------------------------------------------------
/*.block-content{
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .block-bottom{
    flex-grow: 1;
  }
}*/
[block-flex]{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  [block-grow]{
    flex-grow: 1;
  }
}

.no-result-card{
  margin-top: 10vh;
}
ion-spinner.list-content{
  position: absolute;
  top: 10vh;
  //bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
