<ion-content>
  <div ion-fixed class="inset-modal-content">

    <ion-navbar>
      <ion-buttons start>
        <button ion-button icon-left (click)="dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
          {{ 'CANCEL_BUTTON' | translate }}
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button ion-button icon-right (click)="onSave()" [disabled]="!eventForm.valid" >
          {{ 'SAVE_BUTTON' | translate }}
          <ion-icon name="ios-calendar-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <form [formGroup]="eventForm">
      <ion-list>
        <!-- NAME -->
        <ion-item>
          <ion-label>{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="name" name="name"></ion-input>
        </ion-item>

        <!-- TIME -->
        <ion-item>
          <ion-label>{{ 'EVENTS_EDIT_PAGE.WHEN' | translate }}</ion-label>
          <ion-datetime
            displayFormat="DD/MMM/YY HH:mm"
            min="{{currentYear}}"
            max="{{maxYear}}"
            pickerFormat="D MMM YYYY H mm"
            formControlName="time"
            name="time"
            monthShortNames="{{ 'DATETIME.monthShortNames' | translate }}"
            cancelText="{{'CANCEL_BUTTON' | translate}}"
            doneText="{{'DONE_BUTTON' | translate}}">
          </ion-datetime>
        </ion-item>

        <!-- WHERE -->
        <ion-item>
          <ion-label>{{ 'EVENTS_EDIT_PAGE.PLACE' | translate }}</ion-label>
          <button *ngIf="!placeSelectorState" color="brand" ion-button item-end (click)="placeSelector('create')" >
            {{ 'CREATE_BUTTON' | translate }}
          </button>
          <button *ngIf="placeSelectorState == 'create'" color="danger" ion-button item-end (click)="placeSelector(null)" >
            {{ 'CANCEL_BUTTON' | translate }}
          </button>

          <ion-input *ngIf="placeSelectorState" type="text" formControlName="where" name="where"></ion-input>
          <ion-select
            *ngIf="!placeSelectorState"
            formControlName="place_id"
            name="place_id"
            okText="{{'DONE_BUTTON' | translate}}"
            cancelText="{{'CANCEL_BUTTON' | translate}}"
            >
            <ion-option *ngFor="let place of places" [value]="place.key">{{place.name}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- DISCIPLINE -->
        <ion-item>
          <ion-label>{{ 'EVENTS_EDIT_PAGE.WHAT' | translate }}</ion-label>
          <ion-select
            formControlName="disciplines"
            name="disciplines"
            okText="{{'DONE_BUTTON' | translate}}"
            cancelText="{{'CANCEL_BUTTON' | translate}}"
            >
            <ion-option *ngFor="let discipline of disciplines" [value]="discipline.alias">{{discipline.name}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </form>
  </div>


</ion-content>
