<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Places</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="light" icon-only (click)="presentModal('create')">
        <ion-icon name="ios-add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-spinner class="list-content" *ngIf="showSpinner"></ion-spinner>
    <div class="no-result-card" *ngIf="showNoResult">
      <ion-card>
        <ion-card-header>
          You have no places saved !
        </ion-card-header>
        <ion-card-content color="dark">
          Here you can save the places you frequently ride our would like to ride one day !
        </ion-card-content>
      </ion-card>
    </div>
    <ng-container  *ngFor="let place of places; let last = last; let i = index" >
      <ion-card no-margin f-width margin-bottom  no-radius [class.last-item]="last">
        <div class="img-holder">
          <div
            *ngIf="place.image && pathForImage(place.image)"
            class="img-wrapper"
            v-height="20"
            [style.backgroundImage]="'url(' + pathForImage(place.image) + ')'">
          </div>
          <div
            *ngIf="!place.image || !pathForImage(place.image)"
            class="img-wrapper"
            v-height="20"
            [style.backgroundImage]="'url(assets/img/background/advance-card-map-madison.png)'">
          </div>
          <ion-fab right bottom edge #fab>
            <button class="open-edits" color="brand" ion-fab mini (click)="closeFabs(fab)"><ion-icon name="ios-add"></ion-icon></button>
            <ion-fab-list side="top">
              <button ion-fab color="brand_dark" (click)="presentModal('display_place', place.key, fab)">
                <ion-icon name="map"></ion-icon>
              </button>
            </ion-fab-list>
            <ion-fab-list side="left">
              <button ion-fab color="brand_dark" (click)="presentModal('update', place.key, fab)">
                <ion-icon name="md-create"></ion-icon>
              </button>
              <button ion-fab color="danger" (click)="delete(place.key, fab)">
                <ion-icon name="md-trash"></ion-icon>
              </button>
            </ion-fab-list>
          </ion-fab>
        </div>

        <ion-item>
          <ion-icon name="pin" color="brand" item-start large></ion-icon>
          <h2 text-wrap>{{place.name}}</h2>
          <p>{{place.city}} <span *ngIf="place.city && place.country">-</span> {{place.country}}</p>
        </ion-item>

      </ion-card>
    </ng-container>
</ion-content>
