<ion-header no-shadow no-border class="no-shadow">
  <ion-navbar transparent>
    <ion-buttons *ngIf="emailVerified" start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="currentUser && profileViewData && !isAnyProfile" end>
      <button icon-only ion-button (click)="presentProfileModal()" >
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="showMap" end>
      <button icon-only ion-button (click)="openMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="isAnyProfile && thread" end>
      <button
        *ngIf="!profileViewData.isFriendPending && !profileViewData.isFriend"
        ion-button clear item-end icon-only
        (click)="sendFriendRequest($event, i)" >
        <ion-icon color="light" name="person-add"></ion-icon>
      </button>
      <button icon-only ion-button (click)="sendMessage()">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div id="content" class="block-content" block-flex *ngIf="currentUser && profileViewData">
    <div id="profile-info" class="block-top" v-height="35">

      <div class="profile">
        <ion-spinner *ngIf="!profileImgLoaded"></ion-spinner>
        <!-- <img id="profile-image" [hidden]="!profileImgLoaded" (load)="imageHasLoaded()" [src]="profileViewData.profileImgPath" tappable (click)="changeProfileImg()"  /> -->
        <ion-img id="profile-image" [src]="profileViewData.profileImgPath" (click)="changeProfileImg()"></ion-img>
      </div>

      <!-- Show icon of logged in provider -->
      <h3 id="profile-name">
        <span>{{profileViewData.displayName}}</span>
        <ion-icon *ngIf="profileViewData.isFriendPending || profileViewData.isFriend"
          color="light" [name]="profileViewData.iconName"></ion-icon>

        <ng-container [ngSwitch]="profileViewData.providerId">
          <ion-icon *ngSwitchCase="'password'" name="md-flame" class="firebase"></ion-icon>
          <ion-icon *ngSwitchCase="'facebook.com'" name="logo-facebook" class="facebook"></ion-icon>
          <ion-icon *ngSwitchCase="'google.com'" name="logo-google" class="google"></ion-icon>
        </ng-container>
      </h3>
    </div>
    <ion-item text-center color="danger" *ngIf="!profileViewData.emailVerified" no-lines>
      <p padding-left padding-right [innerHTML]="'PROFILE_PAGE.EMAIL_VERIFY' | translate">You must verify your email to use Let's Ride!<br>Check you mailbox!</p>
    </ion-item>

    <div class="userData block-bottom" block-grow>

        <ion-list >
          <ion-item>
            <ion-icon name="pin" item-start></ion-icon>
            <button block clear ion-button icon-left class="form-placeholder" *ngIf="!profileViewData.settings.city && !profileViewData.settings.country"  (click)="presentProfileModal()">{{'PROFILE_PAGE.LOCATION_BTN' | translate}}</button>
            {{profileViewData.settings.city}}
            <ng-container *ngIf="profileViewData.settings.city && profileViewData.settings.country"> | </ng-container>
            {{profileViewData.settings.countryName}}
          </ion-item><!-- profileViewData -->

          <ion-item >
              <ion-icon *ngIf="!profileViewData.settings.age && !profileViewData.settings.gender || !profileViewData.settings.gender" name="person" item-start></ion-icon>
              <button *ngIf="!profileViewData.settings.age && !profileViewData.settings.gender" block clear ion-button icon-left class="form-placeholder"  (click)="presentProfileModal()">{{'PROFILE_PAGE.INFOS_BTN' | translate}}</button>
            <ng-container *ngIf="profileViewData.settings.gender" [ngSwitch]="profileViewData.settings.gender" item-start>
              <ion-icon *ngSwitchCase="'Male'" name="man" item-start></ion-icon>
              <ion-icon *ngSwitchCase="'Female'" name="woman" item-start></ion-icon>
            </ng-container>
            {{profileViewData.settings.age | amDateFormat: 'DD/MM/YY'}}
          </ion-item>
        </ion-list>

        <ion-list >
          <ion-item *ngIf="!profileViewData.disciplines" no-lines>
            <ion-icon name="bicycle" item-start></ion-icon>
            <button block clear ion-button icon-left class="form-placeholder"  (click)="presentProfileModal()">{{'PROFILE_PAGE.STYLE_BTN' | translate}}</button>
          </ion-item>
          <ion-item-group *ngIf="profileViewData.disciplines">
            <ion-list-header>
              <ion-icon name="bicycle" item-start></ion-icon>
            </ion-list-header>
            <ion-item *ngFor="let discipline of profileViewData.disciplines">
        			{{discipline}}
            </ion-item>
          </ion-item-group>
        </ion-list>

        <ion-list no-margin>
          <ion-item>
            <ion-icon name="fa-signal" item-start></ion-icon>
            <button block clear ion-button icon-left class="form-placeholder" *ngIf="!profileViewData.settings.level"  (click)="presentProfileModal()">{{'PROFILE_PAGE.LEVEL_BTN' | translate}}</button>
            <ng-container [ngSwitch]="profileViewData.settings.level">
              <span *ngSwitchCase="'1'">{{'PROFILE_PAGE.LEVEL.1' | translate}}</span>
              <span *ngSwitchCase="'2'">{{'PROFILE_PAGE.LEVEL.2' | translate}}</span>
              <span *ngSwitchCase="'3'">{{'PROFILE_PAGE.LEVEL.3' | translate}}</span>
              <span *ngSwitchCase="'4'">{{'PROFILE_PAGE.LEVEL.4' | translate}}</span>
              <span *ngSwitchCase="'5'">{{'PROFILE_PAGE.LEVEL.5' | translate}}</span>
            </ng-container>
          </ion-item>
        </ion-list>
      </div><!-- profileViewData -->

  </div> <!-- #content -->
</ion-content>
