page-profile {

  .profile {
    position: relative;
    overflow: hidden;
    height: 24vh;
    margin-bottom: -0.625em;
  }

  .profile img {
    width: 28vw;
    height: 28vw;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
  }

  .profile img.activated {
    opacity: 0.5;
  }
  h4,
  p {
    text-align: center;
  }

  h4 {
    margin: 0;
    padding: 0 0 0.75em;
    color: #fff;
  }

  p {
    color: #c3c3c3;
  }

  h4 span.activated,
  p.activated {
    opacity: 0.5;
  }

  .divider {
    width: 12vw;
    border-bottom: solid 0.2em #ffca28;
    margin-left: auto;
    margin-right: auto;
  }

  ion-icon {
    color: #fff;
    font-size: 1.4em;
  }

  ion-icon.facebook {
    color: #3052a8;
  }

  ion-icon.google {
    color: #dd4b39;
  }

  ion-icon.firebase {
    color: #ffca28;
  }


}
