<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <ion-buttons *ngIf="emailVerified" start>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Profile</ion-title>

    <ion-buttons end icon-only>
      <button ion-button (click)="presentProfileModal()" >
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="list card" *ngIf="currentUser">

    <div class="profile">
      <img *ngIf="currentUser.photoURL" src="{{currentUser.photoURL}}" tappable  />
      <img *ngIf="!currentUser.photoURL" src="./assets/img/man.svg" tappable  />
    </div>


      <!-- Show icon of logged in provider -->
      <h4>
        <span>{{displayName}}</span><br>
        <span>currentUser emailVerified [[{{currentUser.emailVerified}}]]</span>
        <ion-icon name="md-flame" class="firebase"></ion-icon>
        <!-- <ion-icon name="logo-facebook" *ngIf="user.provider == 'Facebook'" class="facebook"></ion-icon>
        <ion-icon name="logo-google" *ngIf="user.provider == 'Google'" class="google"></ion-icon> -->
      </h4>
      <div class="divider"></div>

      <div *ngIf="userData">
        <div>
          City - {{userData.settings.city}}
          <ion-icon name="md-trash" item-right></ion-icon>
        </div>

        <div>
          Country - {{userData.settings.country}}
          <ion-icon name="md-trash" item-right></ion-icon>
        </div>

        <div>
          Age - {{userData.settings.age}}
          <ion-icon name="md-trash" item-right></ion-icon>
        </div>

        <div >
          Gender - {{userData.settings.gender}}
          <ion-icon name="md-trash" item-right></ion-icon>
        </div>

        <div>
          Disciplines -
          <ul *ngIf="userData.settings.disciplines">
            <li class="text" *ngFor="let discipline of userData.settings.disciplines">
        			{{discipline}}
        		</li>
          </ul>
        </div>

        <div>
          Level - {{userData.settings.level}}
          <ion-icon name="md-trash" item-right></ion-icon>
        </div>
      </div>


  </div>
</ion-content>
