page-profile {
  //background: url('../../assets/img/background/background-5.jpg') no-repeat #fff;
  //background-size: contain;
  & > .content{
    //background-color: transparent;
  }

  &.ion-page ion-content{
    background-color: $brand;
  }



  #profile-image {
    display: block;
    border: 5px solid rgba(250, 250, 250, 0.25);
    //background-color: #50597c;
    width: 32vw;
    height: 32vw;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
  }

  .profile {
    position: relative;
    overflow: hidden;
    height: 24vh;
    margin-bottom: -0.625em;

    .spinner{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }


  #profile-info {
    width: 100%;
    text-align: center;
  }

  .profile-description {
    font-size: 15px;
    color: #888;
  }


  .userData{
    background: #fff;
  }

  ion-content ion-icon {
    color: $iconDark;
  }

  ion-icon.facebook {
    //color: #3052a8;
    color: #fff;
  }

  ion-icon.google {
    color: $google;
  }

  ion-icon.firebase {
    color: $firebase;
  }


}
