page-home {
  .ion-content-refresher{
    //min-height: 50vh;
    position:absolute;
    z-index: 10;
  }
  .ripple{
    background: url('../assets/img/map.png') center center ;
    background-size: cover;
    position: relative;
    width: 100%;
    //height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #cfd8d9;
    transition: height 0.2s ease-in-out;
    //transition: transform 0.2s ease-in-out;
    //transform: scaleY(1);
    img{
      margin: auto;
      width: 80%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .block-top{
    transition: transform 0.2s ease-in-out;
    transform: scaleY(1);
    ion-list{
      background: $content_back;
    }

    &.smaller{
      //transform: scaleY(.5);
      .ripple{
        //transform: scaleY(2);
        height: 12vh;

      }
      ion-list{
        //transform: scaleY(2);
      }
    }
  }
  .block-bottom{
    //background-color: #fff;
    position: relative;
    .block-text{
      position: relative;
      z-index: 20;
    }
  }

  .text-wrapper{
    color: #bfbfbf;
  }



}
