<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Let's Ride</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <div class="block-content" block-flex>
    <div class="block-top" [class.smaller]="!searching && searchDone != null && searchDone !== false">
      <div class="ripple" v-height="35">
        <ion-fab center middle edge>
          <button color="brand" ion-fab [disabled]="searching" (click)="findPeopleAround()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-fab>
        <img *ngIf="searching" src="./assets/img/ripple.svg" alt="">
      </div>
      <ion-list no-margin>
        <ion-list-header>
          Geolocation search settings
        </ion-list-header>
        <ion-item>
          <ion-label>Maximum distance</ion-label>
          <ion-select [(ngModel)]="search.radius" (ionChange)="findPeopleAround()" interface="action-sheet">
            <ion-option value="5">5 km</ion-option>
            <ion-option value="10">10 km</ion-option>
            <ion-option value="15">15 km</ion-option>
            <ion-option value="20">20 km</ion-option>
            <ion-option value="25">25 km</ion-option>
            <ion-option value="30">30 km</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Friends only</ion-label>
          <ion-checkbox color="brand" [(ngModel)]="search.friends" checked="search.friends" (ionChange)="findPeopleAround()"></ion-checkbox>
        </ion-item>
      </ion-list>

    </div>

    <div class="block-bottom" block-grow vertical-center *ngIf="!peopleAround.length" padding>
      <div class="text-wrapper" *ngIf="!noResults" f-width>
        <h5>Riding is better with friends&nbsp;! <br>Hit the search <ion-icon color="brand" name="search"></ion-icon> button to see who's nearby !</h5>
      </div>
      <div class="text-wrapper" *ngIf="noResults" f-width>
        <h5>There isn't anybody in this search perimeter</h5><br><br>
      </div>
    </div>

    <div class="block-bottom" block-grow *ngIf="peopleAround.length" >
      <ion-list no-margin>
        <ion-list-header>
          Results
        </ion-list-header>
        <ion-item *ngFor="let people of peopleAround; let i = index">
          <ion-avatar item-start>
            <img [hidden]="!people.avatarLoaded" (load)="avatarLoaded(i)" src="{{people.avatar}}">
            <ion-spinner *ngIf="!people.avatarLoaded"></ion-spinner>
           </ion-avatar>
          <h2>{{people.displayName}}</h2>
          <p>{{people.distance}} km</p>
          <button *ngIf="people.oneSignalId" item-end ion-button color="brand" icon-right (click)="sendMessageCloseBy(i)">
            Notify <ion-icon name="send" ></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Start discovery mode</ion-title>
    <ion-buttons end>
      <ion-toggle [(ngModel)]="state.enabled" (ionChange)="onToggleEnabled()" color="secondary" style="display:block;"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
