page-map {
  agm-map {
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

  }
  .display_place_event{
    agm-map {
      height: 50%;
      bottom: auto;
      .agm-map-container-inner{
        height: 100%;
      }
    }
    ion-fab[bottom] {
      bottom: 52%;
    }
  }


  .searchblock {
      position: absolute;
      width: 100%;
      z-index: 3;

      .item-block{
        font-size: 1.4rem;
        min-height: 3rem
      }
  }

  .agm-info-window-content{
    color: #444;
  }

}
