page-map {
  agm-map {
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 20;
  }
  .display_place_event:not(.fullscreen){
    agm-map {
      height: 25vh;
      bottom: auto;
      .agm-map-container-inner{
        height: 100%;
      }
    }
    ion-fab.fabPos[bottom] {
      bottom: 77vh;
    }

  }

  .noLocation{
    background: url('../assets/img/map.png') center top ;
    background-size: cover;
    width: 100%;
    .fab-map{
      display: none;
    }
  }

  .fab-map{
    border: 1px solid lighten( $dark, 55% );
  }

  .searchblock {
      position: absolute;
      width: 100%;
      z-index: 3;

      .item-block{
        font-size: 1.4rem;
        min-height: 3rem
      }
  }

  .agm-info-window-content{
    color: #444;
  }

  .event{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    .inner-wrapper{
      border-top: 1px solid $list-border-color;
      background: #fff;
      margin-top: 25vh;
      height: 75vh;
    }
  }

}
