<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf="state != 'update'" start>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        {{backButton}}
      </button>
    </ion-buttons>
    <ion-title *ngIf="event">{{event.name}}</ion-title>
    <ion-buttons *ngIf="state == 'create' || state == 'update'" end>
      <button ion-button icon-right (click)="onSave()">
        {{saveButton}}
        <ion-icon name="lr-add-location"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding [ngClass]="pageClass">

  <div class="searchblock" *ngIf="fullscreen && searchVisible">
  <!-- <div class="searchblock" *ngIf="state != 'display'"> -->
    <ion-toolbar [hidden]="!mapAPI_loaded" no-padding transparent >
      <ion-searchbar
        color="dark"
        (ionInput)="searchAutocomplete($event)"
        [showCancelButton]=true
        (ionCancel)="onCancelSearch($event)"
        (ionClear)="onCancelSearch($event)"
        [debounce]="500"
        placeholder="search for location"
        name="search"
        animated=true
        cancelButtonText="cancel"
        #search>
      </ion-searchbar>
      <ion-list no-margin>
        <ion-item tappable *ngFor="let item of autocompleteItems; let i = index" (click)="geocodePlaceId(item.place_id)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-toolbar>

  </div>


  <!-- <ion-fab [hidden]="!mapAPI_loaded" bottom right> -->
  <ion-fab class="fabPos" *ngIf="fullscreen && mapAPI_loaded" bottom right>
    <button color="brand" ion-fab class="fab-map" mini (click)="setCurrentPosition()">
      <ion-icon name="ios-navigate-outline"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right top *ngIf="state == 'display_place_event'">
    <button color="light" ion-fab class="fab-map" mini (click)="resize(!fullscreen)">
      <ion-icon *ngIf="!fullscreen" color="brand" name="lr-fullscreen"></ion-icon>
      <ion-icon *ngIf="fullscreen" color="brand" name="lr-fullscreen-exit"></ion-icon>
    </button>
  </ion-fab>

  <agm-map
    *ngIf="map.lat && map.lng"
    #AgmMap
    [latitude]="map.lat"
    [longitude]="map.lng"
    [zoom]="map.zoom"
    (mapClick)="mapClicked($event)"
    [streetViewControl]="false"
    [zoomControlOptions]="zoomControlOptions"
    [zoomControl]="false"
    [styles]="mapStyle"
    (mapReady)="onMapReady($event)"
    >
    <!-- [disableDefaultUI]="false"
    [zoomControl]="false" -->


    <agm-marker
        (markerClick)="clickedMarker(marker.label)"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [markerDraggable]="markerDraggable"
        (dragEnd)="markerDragEnd(marker, $event)"
        [iconUrl]="'assets/img/pin.svg'"
        >
        <!-- [label]="marker.label" -->
      <agm-info-window *ngIf="marker.displayName">
        <strong>{{marker.displayName}}</strong>
      </agm-info-window>

    </agm-marker>

    <agm-marker
        *ngIf="buddy"
        (markerClick)="clickedMarker(marker.label)"
        [latitude]="buddy.location.lat"
        [longitude]="buddy.location.lng"
        [iconUrl]="'assets/img/friend.svg'"
        >
        <agm-info-window>
          <strong>{{buddy.displayName}}</strong>
        </agm-info-window>


    </agm-marker>
  </agm-map>

  <ion-scroll scrollY="true" class="event" *ngIf="state == 'display_place_event'" >
    <div class="inner-wrapper" border-top>
      <ion-list>
        <ion-list-header>
          Event details
        </ion-list-header>

        <ion-item>
          <ion-icon name="contact" color="dark" item-start></ion-icon>
          {{event.displayName}}
        </ion-item>


        <ion-item>
          <ion-icon color="dark" name="calendar" item-start></ion-icon>
          {{event.time | amDateFormat: 'DD/MM/YY'}}
        </ion-item>

        <ion-item>
          <ion-icon color="dark" name="time" item-start></ion-icon>
          {{event.time | amDateFormat: 'HH:mm'}}
        </ion-item>

        <ion-item>
          <ion-icon name="lr-bike" color="dark" item-start></ion-icon>
          {{event.disciplines}}
        </ion-item>

        <ion-item>
          <ion-icon name="lr-city" color="dark" item-start></ion-icon>
          {{place.city}}
        </ion-item>

        <ion-item>
          <ion-icon name="fa-globe" color="dark" item-start></ion-icon>
          {{place.country}}
        </ion-item>
      </ion-list>

      <ion-list no-margin *ngIf="buddiesProvider.eventsParticipantsList.length">
        <ion-list-header>
          They are going to ...
        </ion-list-header>
        <ion-item *ngFor="let buddy of buddiesProvider.eventsParticipantsList; let i = index;">
          <ion-avatar item-start>
            <img src="{{buddy.photoURL}}" (error)="updateUrl($event, i)">
          </ion-avatar>
          {{buddy.displayName}}
        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>
</ion-content>
