<ion-card no-margin f-width no-radius>
  <button class="dismissBtn" ion-button icon-only clear small (click)="dismiss()">
    <ion-icon color="dark" name="close"></ion-icon>
  </button>

  <ion-row>
    <ion-col class="cover-img" col-12 col-sm-4 no-padding>
      <div *ngIf="event.backgroundImage" f-height f-width class="cover-style" [style.backgroundImage]="'url(' + event.backgroundImage + ')'"></div>

    </ion-col>

    <ion-col col-sm-8 col-12 no-padding>
      <ion-card-content color="dark">
        <ion-card-title>
          {{event.name}}
        </ion-card-title>
        <div class="date">
          <h3 class="day" icon-left float-left>
            <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
            {{event.time | amDateFormat: 'DD/MM/YY'}}
          </h3>
          <h3 class="time" icon-left float-left>
            <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
            {{event.time | amDateFormat: 'HH:mm'}}
          </h3>

        </div>

        <p class="where" icon-left *ngIf="event.where || event.disciplines">
          <ion-icon ios="ios-map-outline" md="md-map"></ion-icon>
          {{event.where}}<span *ngIf="event.where && event.disciplines" > - </span>{{event.disciplines}}
        </p>
      </ion-card-content>

      <ion-row>
        <ion-col text-right class="buddyName" padding-right >
          <h3 icon-left>
            <ion-icon color="dark" name="contacts"></ion-icon>
            {{event.displayName}}
          </h3>
        </ion-col>
      </ion-row>
  </ion-col>
</ion-row>

</ion-card>
