// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$brand: #11a8ab;
$page_back: #394264;
$content_back: #f2f2f2;
$brand_light: #4cbdbf;
$primary:    #3468af;
$secondary:  #32db64;
$danger:     #e64c65;
$light:      #f4f4f4;
$dark:       #444;
$warning:    #fcb150;
$facebook:   #324d8f;
$google:     #dd4b3e;
$firebase:    #ffca28;

$primary: #ab3711;
$secondary: #ab115b;

$colors: (
  primary:    $primary,
  secondary:  $secondary,
  danger:     $danger,
  light:      $light,
  dark:       $dark,
  warning:    $warning,
  facebook:   $facebook,
  google:     $google,
  brand:      $brand,
  brand_back: $brand,
  brand_light: $brand_light,
  brand_dark: $page_back,
  firebase:   $firebase,
  content_back: $content_back
);

$img-placeholder-background: url("../assets/img/man.svg") center center no-repeat;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toggle-ios-background-color-off: $brand;
$toggle-ios-handle-background-color: #fff;
$toggle-ios-border-color-off: rgba( #eee, .2 );

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// LETSRIDE variable
// --------------------------------------------------
$text-color: #fff;

// ICONS
// --------------------------------------------------
$iconDark : #444;
$iconLight: #9099b7;

// HEADER
// --------------------------------------------------
$toolbar-background: #11a8ab;
$toolbar-border-color: $brand_light;
$toolbar-ios-border-color: $toolbar-border-color;

// LIST
// --------------------------------------------------
//$item-md-padding-left: 0;
//$item-ios-padding-left: 0;

// LAYOUT
// --------------------------------------------------
$background-color: #394264;

// TABS
// --------------------------------------------------
$tabs-background: $toolbar-background;
$tabs-border-color: $toolbar-border-color;
$tabs-ios-border-color: $tabs-border-color;
$tabs-ios-tab-color-inactive: #fff;
$tabs-ios-tab-color-active: #fff;

// GRID
// --------------------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 370px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-max-widths: (
  sm: 350px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);


// CARD
// --------------------------------------------------
$card-ios-box-shadow:	0 1px 3px rgba(0, 0, 0, .2);
$card-md-box-shadow : $card-ios-box-shadow;
