<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
    <ion-buttons icon-only end>
      <button ion-button icon-only (click)="presentEventModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons icon-only end>
      <button *ngIf="!activeItemSliding" ion-button icon-only (click)="openOptionRight()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button *ngIf="activeItemSliding" ion-button icon-only (click)="closeOption()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <!-- <ion-toolbar no-padding >
    <button color="brand" ion-button full icon-right no-margin (click)="presentEventModal()" >
      Create a new event
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-toolbar> -->
</ion-header>


<ion-content >
  <ion-spinner *ngIf="!eventsListing.length"></ion-spinner>
  <ion-list #eventsList>
    <ion-card *ngFor="let event of eventsListing">
      <ion-row>
        <ion-col class="cover-img" col-4 no-padding>
          <div *ngIf="event.backgroundImage" f-height f-width class="cover-style" [style.backgroundImage]="'url(' + event.backgroundImage + ')'"></div>

        </ion-col>

        <ion-col col-8>
          <ion-card-header>
            <h1 text-wrap>{{event.name}}</h1>
          </ion-card-header>
          <ion-card-content color="dark">
            <div class="date">
              <h2 class="day" icon-left float-left>
                <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
                {{event.time | amDateFormat: 'DD/MM/YY'}}
              </h2>
              <h2 class="time" icon-left float-left>
                <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
                {{event.time | amDateFormat: 'HH:mm'}}
              </h2>

            </div>

            <p class="where" icon-left *ngIf="event.where || event.disciplines">
              <ion-icon ios="ios-map-outline" md="md-map"></ion-icon>
              {{event.where}}<span *ngIf="event.where && event.disciplines" > - </span>{{event.disciplines}}
            </p>
          </ion-card-content>

          <ion-row>
            <ion-col text-right>
              <button ion-button color="danger" icon-left clear small (click)="deleteEvent(event.$key)">
                <ion-icon color="dark" ios="ios-trash-outline" md="md-trash"></ion-icon>
                <div>Delete</div>
              </button>
              <button  ion-button color="brand" icon-left clear small (click)="presentEventModal(event)">
                <ion-icon color="dark" ios="ios-create-outline" md="md-create"></ion-icon>
                <div>Edit</div>
              </button>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>

    </ion-card>


    <!-- <ion-item-sliding #eventsSliding *ngFor="let event of events | async; let i = index">
      <ion-item #eventsItem >
        <ion-buttons icon-only item-start>
          <button ion-button (click)="viewOnMap(event)" icon-only>
            <ion-icon name="pin" ></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{event.name}}</h2>
        <ion-buttons icon-only item-end>
          <button ion-button icon-only (click)="presentPopover(event)">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="deleteEvent(event.$key)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button color="light" icon-only>
          <ion-icon name="fa-copy"></ion-icon>
        </button>
        <button ion-button color="primary" icon-only (click)="presentEventModal(event)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding> -->


  </ion-list>

</ion-content>
