page-events {
  .spinner{
    position: absolute;
    top: 10vh;
    //bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .cover-style{
    background-size: cover;
    background-position: center center;
    position: absolute;
  }
  .cover-img{
    background-color: #f9f9f9;
    min-height: 15vh;
  }
  ion-card{
    border-bottom: 1px solid #ddd;
    &.last-item{
      margin-bottom: 0 !important;
    }
  }
  ion-card-content{

    ion-icon{
      color: $brand;
    }

    .date{
      overflow: hidden;
      // h2{
      //   margin-bottom: 1.5rem !important;
      //   color: #444;
      //   font-weight: 600 !important;
      // }
      .day{
        margin-right: 2rem !important;
      }
    }
  }

}
