page-events {
  .cover-style{
    background-size: cover;
    background-position: center center;
    position: absolute;
  }
  .cover-img{
    background-color: #f9f9f9;
    min-height: 15vh;
  }
  .segment-button {
    max-width: 175px !important;
  }
  .buddyName{
    color: #444;
  }
  ion-card-title{
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  ion-card{
    border-bottom: 1px solid #ddd;
    &.last-item{
      margin-bottom: 0 !important;
    }
    &.active-map{
      opacity: 0.4;
    }
  }
  ion-card-content{
    padding-bottom: 0 !important;
    ion-icon{
      color: $brand;
    }

    .date{
      overflow: hidden;
      .day{
        margin-right: 2rem !important;
      }
    }
  }
  .where{
    ion-spinner{
      height: $button-md-small-icon-font-size;
      float: left;
    }
  }
}
