<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Messages</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="messages">
      <ion-segment-button value="requests">
        Friend requests
      </ion-segment-button>
      <ion-segment-button value="events">
        Friends events
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class='has-header' padding>

  <div [ngSwitch]="messages">
    <div *ngSwitchCase="'requests'">
      <h3 *ngIf="buddies && buddies.length">friend Request pending</h3>
      <h3 *ngIf="!buddies || !buddies.length">No friend request pending</h3>
      <ion-list>
        <ng-container *ngFor="let people of buddiesRequest; let i = index">
          <ion-item >
            <ion-avatar item-start>
              <img *ngIf="!people.photoURL" src="./assets/img/man.svg" />
              <img *ngIf="people.photoURL" [src]="people.photoURL" />
            </ion-avatar>
            <h2>{{people.displayName}}</h2>
            <button
              ion-button clear item-end icon-right
              (click)="acceptFriendRequest(i)" >
              Accept
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-item>
        </ng-container>
      </ion-list>


      <div *ngIf="requestAccepted.length ">
        <h3>friend Request Accepted</h3>
        <ion-list >
          <ng-container *ngFor="let people of requestAccepted">
            <ion-item *ngIf="!people.pending" >
              <ion-avatar item-start>
                <img *ngIf="!people.photoURL" src="./assets/img/man.svg" />
                <img *ngIf="people.photoURL" [src]="people.photoURL" />
              </ion-avatar>
              <h2>{{people.displayName}}</h2>
            </ion-item>
          </ng-container>
        </ion-list>
      </div>




    </div><!-- requests -->
    <div *ngSwitchCase="'events'">
      <h3>Events</h3>

      <ion-list>
        <ng-container *ngFor="let event of buddiesEvents">
          <ion-item >
            <h2>{{event.name}}</h2>
            <h3>{{event.disciplines}} - {{event.displayName}} - {{event.time | amDateFormat: 'DD/MM/YY HH:mm'}}</h3>
          </ion-item>
        </ng-container>
      </ion-list>



    </div><!-- events -->
  </div><!-- END SWITCH -->

</ion-content>
