<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buddies</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <h3>Buddies list</h3>
  <ion-list>
    <ng-container *ngFor="let buddy of buddies; let i = index">
      <ion-item >
        <ion-avatar item-start>
          <img *ngIf="buddy.photoURL" src="{{buddy.photoURL}}">
        </ion-avatar>
        <h2 *ngIf="buddy.settings">{{buddy.settings.displayName}}</h2>
        <h3 *ngIf="buddy.settings">{{buddy.settings.country}}</h3>
        <button
          ion-button clear item-end icon-only
          (click)="removeFriend(i)" >
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
