<ion-header no-shadow no-border class="no-shadow">
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>



<ion-content fullscreen>
  <div id="content" class="block-content" block-flex>
    <div class="block-top" >
      <div class="body-text" padding text-center f-width margin-top margin-bottom>
        <h1>{{buddies.length}} <span>{{ 'BUDDIES_PAGE.TITLE' | translate }}</span></h1>
        <p>{{ 'BUDDIES_PAGE.BODY' | translate }}</p>
        <!-- <button ion-button (click)="goto('ContactPage')">Invite them</button> -->
        <button color="facebook" ion-button icon-right (click)="appInvite()">
          {{ 'BUDDIES_PAGE.INVITES_BTN' | translate }}
          <ion-icon color="white" name="logo-facebook"></ion-icon>
        </button>
      </div>
    </div>

    <div id="friend-list" class="block-bottom" block-grow>
      <ion-spinner class="list-content" *ngIf="showSpinner"></ion-spinner>
      <div class="no-result-card" *ngIf="showNoResult">
        <ion-card>
          <ion-card-header>
            {{ 'BUDDIES_PAGE.CARD_HEAD' | translate }}
          </ion-card-header>
          <ion-card-content color="dark">
            {{ 'BUDDIES_PAGE.CARD_CONTENT' | translate }}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-list no-margin>
        <ion-item-sliding *ngFor="let buddy of buddies | orderBy : ['isNewBud','sortByName']; let i = index">
          <ion-item >
            <ion-avatar item-start>
              <img src="{{buddy.avatar}}" (error)="updateUrl($event, i)">
            </ion-avatar>
            <h2 *ngIf="buddy.settings">{{buddy.settings.displayName}}</h2>
            <h3 *ngIf="buddy.settings">{{buddy.settings.countryName}}</h3>
            <ion-icon *ngIf="buddy.isNewBud == 'a_true'" color="dark" name="person-add" item-end></ion-icon>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="danger" icon-only (click)="removeFriend(i)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>

      </ion-list>
    </div>

  </div>
</ion-content>
