<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar
      [class.userListLoading]="!peopleArr"
      (ionInput)="applySearchFilter($event)"
      [showCancelButton]=true
      cancelButtonText="{{ 'CANCEL_BUTTON' | translate }}"
      (ionCancel)="applySearchFilter()"
      [debounce]="300"
      placeholder="{{ 'SEARCH_PAGE.PLACEHOLDER' | translate }}"
      #searchInput>
    </ion-searchbar>
    <ion-buttons end *ngIf="peopleArr">
      <button ion-button icon-only (click)="showOptions()"  >
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>


  <div class="filters-selected" *ngIf="filters.length">
    <ng-container *ngFor="let filter of filters; let i = index">
      <ng-container [ngSwitch]="filter.alias">
        <ng-container *ngSwitchCase="'displayName'" ></ng-container>

        <ng-container *ngSwitchCase="'disciplines'" >
          <button
            *ngFor="let disciplineFilter of filter.value; let x = index"
            ion-button
            color="secondary"
            small
            icon-right
            (click)="removeFilter(i, x)">
            {{disciplineFilter}}
            <ion-icon name="close"></ion-icon>
          </button>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <button color="secondary" ion-button small icon-right (click)="removeFilter(i)">
            {{filter.label}}
            <ion-icon name="close"></ion-icon>
          </button>
        </ng-container>

      </ng-container>
    </ng-container>
  </div>

  <ion-label *ngIf="isSearching" text-center color="dark">
    <ion-spinner></ion-spinner><br>
    {{ 'SEARCH_PAGE.SEARCHING' | translate }}
  </ion-label>




  <ion-list [virtualScroll]="people" approxItemHeight="60px" >

      <ion-item *virtualItem="let person; let i = index"  (click)="showPerson(person)">
        <ion-avatar item-start>
          <ion-img [src]="person.profileImgPath"></ion-img>
        </ion-avatar>
        <h2>{{person.settings.displayName}}</h2>
        <h3 *ngIf="person.settings.country">{{person.settings.countryName}}</h3>
          <button item-end
            *ngIf="!person.isFriendPending && !person.isFriend"
            ion-button clear item-end icon-only
            (click)="sendFriendRequest($event, i)" >
            <ion-icon color="dark" name="person-add"></ion-icon>
          </button>
        <ion-icon *ngIf="person.isFriendPending || person.isFriend" color="dark" [name]="person.iconName" item-end></ion-icon>

      </ion-item>
  </ion-list>

  <h3 [style.color]="'#555'" text-center *ngIf="!isSearching && showNoResult && !people.length" class="no-result">
    {{ 'SEARCH_PAGE.NO_RESULT' | translate }}
  </h3>
</ion-content>
