<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar
      (ionInput)="searchUsers($event)"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)"
      [debounce]="500"
      placeholder="Find a rider"
      #searchInput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding #searchContent>

  <!-- <ng-container *ngIf="usersList">
    <h2>test {{usersList.length}}</h2>
    <ion-list [virtualScroll]="usersList" approxItemHeight="85px">
      <ion-item *virtualItem="let user; let i=index" *ngIf="is_searching.value" >
        <ion-avatar item-start>
          <ion-img *ngIf="user.photoURL" [src]="user.photoURL"></ion-img>
        </ion-avatar>
        <h2>{{i}} {{user.settings.displayName}}</h2>
        <h3 *ngIf="user.settings.country">{{user.settings.country}}</h3>
        <button
          *ngIf="!user.buddies || !user.buddies[currentUser.uid]"
          ion-button clear item-end icon-only
          (click)="sendFriendRequest(user.$key, user.oneSignalId, user.settings.displayName)" >
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ng-container> -->


  <ion-list>
    <ng-container *ngFor="let user of usersList; let i=index">
      <!-- <ion-item *ngIf="is_searching.value && i<limit.value && currentUser && user.aFuid != currentUser.uid "> -->
      <ion-item *ngIf="i<limit.value && currentUser && user.aFuid != currentUser.uid ">
        <ion-avatar item-start>
          <img *ngIf="user.photoURL" src="{{user.photoURL}}">
        </ion-avatar>
        <h2>{{i}} {{user.settings.displayName}}</h2>
        <h3 *ngIf="user.settings.country">{{user.settings.country}}</h3>
        <button
          *ngIf="!user.buddies || !user.buddies[currentUser.uid]"
          ion-button clear item-end icon-only
          (click)="sendFriendRequest(user.$key, user.oneSignalId, user.settings.displayName)" >
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="scrolled($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
