<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="messages" color="light">
      <ion-segment-button value="events">
        EVENTS
        <ion-badge class="left-badge" *ngIf="badges.events" color="danger" item-end>{{badges.events}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="requests">
        FRIENDS
        <ion-badge class="right-badge" *ngIf="badges.requests" color="danger" item-end>{{badges.requests}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class='has-header' >

  <div [ngSwitch]="messages">
    <div *ngSwitchCase="'requests'">
      <ion-list >
        <ion-list-header>
          Pending
        </ion-list-header>
        <ng-container *ngFor="let people of buddiesRequest; let i = index">
          <ion-item >
            <ion-avatar item-start>
              <img [src]="people.avatar" />
            </ion-avatar>
            <h2>{{people.settings.displayName}}</h2>
            <button
              ion-button clear item-end icon-right
              (click)="acceptFriendRequest(i)" >
              Accept
              <ion-icon color="dark" name="add-circle"></ion-icon>
            </button>
          </ion-item>
        </ng-container>
        <h3 [style.color]="'#555'" text-center *ngIf="!buddiesRequest || !buddiesRequest.length" class="no-result">
          There is no friend request pending
        </h3>
      </ion-list>


      <ion-list *ngIf="requestAccepted.length">
        <ion-list-header>
          Accepted
        </ion-list-header>
        <ng-container *ngFor="let people of requestAccepted">
          <ion-item *ngIf="!people.pending" >
            <ion-avatar item-start>
              <img *ngIf="!people.photoURL" src="./assets/img/man.svg" />
              <img *ngIf="people.photoURL" [src]="people.photoURL" />
            </ion-avatar>
            <h2>{{people.settings.displayName}}</h2>
          </ion-item>
        </ng-container>
      </ion-list>

    </div><!-- requests -->

    <div *ngSwitchCase="'events'">
      <ion-list>
        <ion-list-header>
          Coming Up
        </ion-list-header>
        <ng-container *ngFor="let event of buddiesEvents | orderBy : ['time']; let i = index">
          <ion-card>
            <ion-card-header>
              <h1>{{event.displayName}}</h1>
            </ion-card-header>
            <ion-card-content color="dark">
              <div class="date">
                <h2 class="day" icon-left float-left>
                  <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
                  {{event.time | amDateFormat: 'DD/MM/YY'}}
                </h2>
                <h2 class="time" icon-left float-left>
                  <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
                  {{event.time | amDateFormat: 'HH:mm'}}
                </h2>
                <div float-right>{{event.disciplines}}</div>
              </div>

              <p class="where" icon-left>
                <ion-icon name="ios-map-outline"></ion-icon>
                {{event.name}}
              </p>
            </ion-card-content>
            <button *ngIf="event.participates" ion-button color="brand" no-margin icon-left full (click)="joinEvent(event, null)">
              <ion-icon color="light" name="checkmark-circle-outline"></ion-icon>
              <div>Going</div>
            </button>
            <button *ngIf="!event.participates" ion-button color="brand" no-margin icon-left full (click)="joinEvent(event, true)">
              <ion-icon color="light" name="close-circle"></ion-icon>
              <div>Not going</div>
            </button>
          </ion-card>
        </ng-container>
      </ion-list>
      <h3 [style.color]="'#555'" text-center *ngIf="!buddiesEvents || !buddiesEvents.length" class="no-result">
        There is no events coming up
      </h3>



    </div><!-- events -->
  </div><!-- END SWITCH -->

</ion-content>
