<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'MENU.NotificationsPage' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="messages" color="light" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="events">
        {{ 'NOTIFICATIONS_PAGE.SEG_1.TITLE' | translate }}
        <ion-badge class="left-badge" *ngIf="badges.events" color="danger" item-end>{{badges.events}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="requests">
        {{ 'NOTIFICATIONS_PAGE.SEG_2.TITLE' | translate }}
        <ion-badge class="right-badge" *ngIf="badges.requests" color="danger" item-end>{{badges.requests}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class='has-header' >

  <div [ngSwitch]="messages">
    <div *ngSwitchCase="'requests'">
      <ion-list >
        <ion-list-header>
          {{ 'NOTIFICATIONS_PAGE.SEG_2.HEADING' | translate }}
        </ion-list-header>
        <ng-container *ngFor="let people of buddiesRequest; let i = index">
          <ion-item >
            <ion-avatar item-start>
              <img [src]="people.avatar" />
            </ion-avatar>
            <h2>{{people.displayName}}</h2>
            <button
              ion-button clear item-end icon-right
              (click)="acceptFriendRequest(i)" >
              {{ 'NOTIFICATIONS_PAGE.SEG_2.ACCEPT' | translate }}
              <ion-icon color="dark" name="add-circle"></ion-icon>
            </button>
          </ion-item>
        </ng-container>
        <h3 [style.color]="'#555'" text-center *ngIf="!buddiesRequest || !buddiesRequest.length" class="no-result">
          {{ 'NOTIFICATIONS_PAGE.SEG_2.NO_RESULT' | translate }}
        </h3>
      </ion-list>


      <ion-list *ngIf="requestAccepted.length">
        <ion-list-header>
          {{ 'NOTIFICATIONS_PAGE.SEG_2.HEADING_2' | translate }}
        </ion-list-header>
        <ng-container *ngFor="let people of requestAccepted">
          <ion-item *ngIf="!people.pending" >
            <ion-avatar item-start>
              <img *ngIf="!people.photoURL" src="./assets/img/man.svg" />
              <img *ngIf="people.photoURL" [src]="people.photoURL" />
            </ion-avatar>
            <h2>{{people.displayName}}</h2>
          </ion-item>
        </ng-container>
      </ion-list>

    </div><!-- requests -->

    <div *ngSwitchCase="'events'">
      <ion-list>
        <ion-list-header>
          {{ 'NOTIFICATIONS_PAGE.SEG_1.HEADING' | translate }}
        </ion-list-header>
        <ng-container *ngFor="let event of buddiesEvents | orderBy : ['time']; let i = index">
          <ion-card tappable (click)="showMap(i)" [class.active-map]="showMapIsEnabled == i">
            <ion-card-header>
              <h1>{{event.displayName}}</h1>
            </ion-card-header>
            <ion-card-content color="dark">
              <div class="date">
                <h2 class="day" icon-left float-left>
                  <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
                  {{event.time | amDateFormat: 'DD/MM/YY'}}
                </h2>
                <h2 class="time" icon-left float-left>
                  <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
                  {{event.time | amDateFormat: 'HH:mm'}}
                </h2>
                <div float-right>{{event.disciplines}}</div>
              </div>

              <p class="where" icon-left>
                <ion-icon name="ios-map-outline"></ion-icon>
                {{event.name}}
              </p>
            </ion-card-content>
            <ion-row>
              <ion-col text-right>
                <button ion-button icon-left outline small color="brand" (click)="joinEvent(event, true, index, $event)">
                  <ion-icon name="checkmark-circle-outline" color="brand"></ion-icon>
                  <div>{{ 'NOTIFICATIONS_PAGE.SEG_1.GOING' | translate }}</div>
                </button>
              </ion-col>
              <ion-col align-self-center>
                <button ion-button icon-left outline small color="brand" (click)="joinEvent(event, false, index, $event)">
                  <ion-icon name="close" color="brand"></ion-icon>
                  <div>{{ 'NOTIFICATIONS_PAGE.SEG_1.IGNORE' | translate }}</div>
                </button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-container>
        <h3 [style.color]="'#555'" text-center *ngIf="!buddiesEvents || !buddiesEvents.length" class="no-result">
          {{ 'NOTIFICATIONS_PAGE.SEG_1.NO_RESULT' | translate }}
        </h3>
      </ion-list>
    </div><!-- events -->
  </div><!-- END SWITCH -->

</ion-content>
