<ion-header no-shadow no-border class="no-shadow">
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'CANCEL_BUTTON' | translate }}
      </button>
    </ion-buttons>

    <ion-buttons end >
      <button ion-button (click)="editAccountFormSubmit()">
        {{ 'SAVE_BUTTON' | translate }}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>


  <form [formGroup]="editAccountForm" (submit)="editAccountFormSubmit()" padding>

      <ng-container *ngIf="field == 'password'">

        <ion-item no-padding>
          <ion-label floating>
            {{ 'ACCOUNT_EDIT_PAGE.CURR_PWD' | translate }}
          </ion-label>
          <ion-input type="password" required formControlName="currentPassword" name="currentPassword" ></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label floating>
            {{ 'ACCOUNT_EDIT_PAGE.NEW_PWD' | translate }}
          </ion-label>
          <ion-input type="password" required formControlName="newPassword" name="newPassword"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label floating>
            {{ 'ACCOUNT_EDIT_PAGE.CONF_PWD' | translate }}
          </ion-label>
          <ion-input type="password" required formControlName="confirmPassword" name="confirmPassword"></ion-input>
        </ion-item>

      </ng-container>

      <ng-container *ngIf="field == 'email'">
        <ion-item no-padding>
          <ion-label floating>
            {{ 'EMAIL' | translate }}
          </ion-label>
          <ion-input type="text" required formControlName="email" name="email"></ion-input>
        </ion-item>
      </ng-container>

  </form>
</ion-content>
