page-account {
  &.ion-page ion-content{
    background-color: $brand;
  }
  .scroll-content{
    //padding-bottom: 0 !important;
  }
  .block-top{
    img{
      display: block;
      margin: auto;
      max-width: 200px;
    }
  }

}
