<ion-header no-shadow no-border class="no-shadow">
  <ion-navbar >
    <ion-buttons start *ngIf="emailVerified">
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ 'MENU.AccountPage' | translate }}</ion-title>

  </ion-navbar>
</ion-header>


<ion-content no-bounce>
  <div class="block-content" block-flex>
    <div class="block-top"  block-grow vertical-center>
      <img src="assets/img/logo.svg">
    </div><!-- block-top -->
    <div class="block-bottom"  vertical-center>

      <div class="content" f-width>
        <h4 padding text-center *ngIf="currentUser">{{currentUser.email}}</h4>
        <div padding *ngIf="providerId == 'password'">
          <button ion-button icon-left block color="primary" (click)="presentAccountModal('password')">
            <ion-icon name="key"></ion-icon>  {{ 'ACCOUNT_PAGE.PWD_BTN' | translate }}
          </button>

          <button ion-button icon-left block color="secondary" (click)="presentAccountModal('email')">
            <ion-icon name="mail-open"></ion-icon>  {{ 'ACCOUNT_PAGE.MAIL_BTN' | translate }}
          </button>
        </div>
        <ion-item *ngIf="!emailVerified" text-center color="danger" text-wrap no-padding >
          <p padding-left padding-right>{{ 'ACCOUNT_PAGE.EMAIL_VERIFY' | translate }}</p>
        </ion-item>


      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
    <gb-logout-button  nav-clear ></gb-logout-button>
</ion-footer>
