<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'CANCEL_BUTTON' | translate }}
      </button>
    </ion-buttons>

    <ion-title>{{ 'MENU.ProfilePage' | translate }}</ion-title>

    <ion-buttons end >
      <button ion-button (click)="editProfileFormSubmit()" [disabled]="!editProfileForm.valid" >
        {{ 'SAVE_BUTTON' | translate }}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

<form [formGroup]="editProfileForm"  >

  <ion-list>
    <!-- DISPLAYNAME -->
    <ion-item>
      <ion-label>{{ 'PROFILE_EDIT_PAGE.NAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="displayName" name="displayName"></ion-input>
    </ion-item>

    <!-- CITY -->
    <ion-item >
      <ion-label>{{ 'PROFILE_EDIT_PAGE.CITY' | translate }}</ion-label>
      <ion-input type="text" formControlName="city" name="city"></ion-input>
    </ion-item>

    <!-- COUNTRIE -->
    <ion-item>
      <ion-label>{{ 'PROFILE_EDIT_PAGE.COUNTRY' | translate }}</ion-label>
      <ion-select
        formControlName="country"
        name="country"
        okText="{{'DONE_BUTTON' | translate}}"
        cancelText="{{'CANCEL_BUTTON' | translate}}"
        >
        <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
      </ion-select>
    </ion-item>
    <!-- AGE -->
    <ion-item>
      <ion-label>{{ 'PROFILE_EDIT_PAGE.AGE' | translate }}</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD MM YYYY"
        formControlName="age"
        name="age"
        cancelText="{{'CANCEL_BUTTON' | translate}}"
        doneText="{{'DONE_BUTTON' | translate}}">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list radio-group formControlName="gender" name="gender">
    <!-- GENDER -->
    <ion-item>
      <ion-label>
        <ion-icon color="dark" icon-left name="man" large></ion-icon>
      </ion-label>
      <ion-radio value="Male" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon color="dark" icon-left name="woman" large></ion-icon>
      </ion-label>
      <ion-radio value="Female"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list no-margin>

    <!-- DISCIPLINE -->


    <ion-item>
      <ion-label>{{ 'PROFILE_EDIT_PAGE.SPORTS' | translate }}</ion-label>
      <ion-select
        formControlName="disciplines"
        name="disciplines"
        multiple="true"
        okText="{{'DONE_BUTTON' | translate}}"
        cancelText="{{'CANCEL_BUTTON' | translate}}"
        (ionChange)="onSelectChange($event)"
        >
        <ion-option *ngFor="let discipline of disciplines" [value]="name">{{discipline.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- LEVEL -->
    <ion-item>
      <ion-label>{{ 'PROFILE_EDIT_PAGE.LEVEL' | translate }}</ion-label>
      <ion-range min="1" max="5" step="1" snaps="true" formControlName="level" name="level">
        <ion-icon range-left small ios="stats-outline" md="md-stats"></ion-icon>
        <ion-icon range-right name="stats"></ion-icon>
      </ion-range>
    </ion-item>

  </ion-list>

</form>

</ion-content>
